@import url("pygments.css");
@import url("html4css1.css");
@import url("normalize.css");

article {
    /* http://chrislema.com/what-is-the-right-font-size-for-your-blog/ */
    font-size: 18px;
    line-heigth: 27px;
    margin: 0 10% 0 10%;
}

/* date and author */
article footer {
    font-size: smaller;
}

article a, article a:visited {
    color: brown;
};

/* neighbours */
nav.pager {
    margin: 0 10% 0 10%;
}

nav.pager ul {
    width: 100%;
    display: table;
    margin: 0;
    padding: 0;
}

nav.pager li {
    display: table-cell;
    width: 50%
}

nav.pager li:last-child {
    text-align: right;
}

nav.pager li > a {
    display: inline-block;
    color: black;
}

textarea, code, tt, pre {
    font-family: monospace;
}

.line-block {
    font-family: monospace;
    margin-left: 6px;
}

blockquote {
    border-left: 6px solid gray;
    padding-left: 6px;
}

nav.menu {
    background: #ffaa00;
    margin: 0 10% 0 10%;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

nav.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav.menu li {
    display: inline;
}

nav.menu li > a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

footer.license {
    font-size: smaller;
    display: block;
    color: gray;
    clear: both;
    text-align: center;
}

footer.license a {
    color: black;
}
