@import url("pygments.css");
@import url("html4css1.css");
@import url("normalize.css");

header#banner {
    background: #ffaa00;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

header#banner h1,
header#banner nav.menu,
header#banner nav.menu ul,
header#banner nav.menu ul > * {
    display: inline;
}

h1 {
    margin: 0.2em 0.2em;
}

h1 > a {
    color: black;
    text-decoration: none;
}

article, nav#index {
    /* http://chrislema.com/what-is-the-right-font-size-for-your-blog/ */
    font-size: 18px;
    line-height: 1.5em;
    margin: 0 10% 0 10%;
}

/* date and author */
article footer, nav#index footer {
    font-size: smaller;
    padding-left: 2em;
    line-height: 1.2em;
}

article a, article a:visited, nav#index a, nav#index a:visited {
    color: brown;
}

article img {
    width: auto;
    max-width: 100%;
    height: auto;
}

ul#tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#tags li {
    display: inline;
    padding-right: 0.5em;
}

nav#index h3 {
    border-top-style: dotted;
    border-width: 1px;
    width: 50%;
}

/* base index */
section {
    margin: 0 10% 0 10%;
    font-size: initial;
}

section h2 {
    text-align: center;
}

section a {
    color: brown;
}

section a:visited {
    color: blueviolet;
}

section time {
    font-style: italic;
    margin-left: 0.5em;
}

/* neighbours */
nav.pager {
    margin: 0 10% 0 10%;
}

nav.pager ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.pager li {
    display: inline;
    font-weight: bold;
}

nav.pager li > a {
    display: inline-block;
    color: brown;
}

nav.pager a:hover {
    text-decoration: none;
}

li.prev {
    float: left;
}

li.next {
    float: right;
}

textarea, code, tt, pre {
    font-family: monospace;
}

.line-block {
    font-family: monospace;
    margin-left: 6px;
}

.caption {
    font-size: smaller;
}

blockquote {
    border-left: 6px solid gray;
    padding-left: 6px;
}

/* main menu */
nav.menu ul {
    list-style: none;
    white-space: nowrap;
}

nav.menu li > a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/* search */
form {
    text-align: center;
}

form#idx {
    float: right;
    padding: 1em;
}

input[type="text"] {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: solid 1px lightgray;
    padding-left: 10px;
}

input[type="submit"] {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 1px;
    background: #ffaa00;
    color: #ffaa00;
    border: 1px solid darkgray;
}

footer.license {
    margin-top: 5em;
    font-size: smaller;
    display: block;
    color: gray;
    clear: both;
    text-align: center;
}

footer.license a {
    color: black;
}

ul.tag-cloud {
    list-style: none;
    margin: 3em 15% 3em 15%;
    padding: 0;
    text-align: center;
}

ul.tag-cloud li {
    display: inline;
}

li.tag-1 {
    font-size: 3em;
    line-height: 1;
}

li.tag-2 {
    font-size: 2em;
    line-height: 1.5;
}

li.tag-3 {
    font-size: 1.5em;
    line-height: 2;
}

li.tag-4 {
    font-size: 1em;
    line-height: 3;
}

/* https://ghost.org/forum/themes/585-css-styles-for-youtube-and-vimeo-videos/ */
article .youtube {
    width: 80%;
    margin: 30px auto 20px auto;
    border-width: 0px;
    text-align: center;
}

/* for pages, only 70ch width */
div#content {
    max-width: 70ch;
}

/* sidebar */
nav#sidebar {
    float: left;
    padding: 1em;
}

nav#sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#sidebar li {
    margin: 0;
    padding: 0;
}

@media screen and (max-device-width: 640px) {
    html, body {
	font: 12px/15px;
	padding: 3px;
	margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
    }

    article, nav#index {
	font-size: inherit;
	margin: 0 0 0 0;
    }

    nav#sidebar {
	display: none;
    }
}
