{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}
{%- set INDEX = False %}
{% include "base_article.html"%}
<nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="pager">
  <ul>
{% if article.prev_article %}
    <li class="prev">« <a href="{{ SITEURL }}/{{ article.prev_article.url|urlencode }}" title="{{ article.prev_article.title|e|striptags }}">{{ article.prev_article.title }}</a></li>
{% endif %}
{% if article.next_article %}
    <li class="next"><a href="{{ SITEURL }}/{{ article.next_article.url|urlencode }}" title="{{ article.next_article.title|e|striptags }}">{{ article.next_article.title }}</a> »</li>
{% endif %}
  </ul>
</nav>

{% endblock content %}
