{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting">
<header>
<h2>{{ article.title }}</h2>
</header>
<footer>
{% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>{% endif %}{% if article.author %}<address itemscope itemtype="http://schema.org/Person"><a href="{{ SITEURL }}/{{ article.author.url|e }}">{{ article.author }}</a></address>{% endif %}
</footer>
{{ article.content }}
</article>

<nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="pager">
  <ul>
{% if article.prev_article %}
    <li class="prev">« <a href="{{ SITEURL }}/{{ article.prev_article.url|e }}" title="{{ article.prev_article.title|e|striptags }}">{{ article.prev_article.title }}</a></li>
{% endif %}
{% if article.next_article %}
    <li class="next"><a href="{{ SITEURL }}/{{ article.next_article.url|e }}" title="{{ article.next_article.title|e|striptags }}">{{ article.next_article.title }}</a> »</li>
{% endif %}
  </ul>
</nav>

{% endblock content %}
