{% extends "base.html" %}
{% block title %}{{ super() }} : Autores{% endblock %}
{% block content %}
<section>
  <header>
    <h2>Autores</h2>
  </header>
  <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <ul>
{% for author, articles in authors|sort %}
      <li><a href="{{ SITEURL }}/{{ author.url|e }}" rel="bookmark" title="Permalink to {{ author|e|striptags }}">{{ author }}</a> ({{ articles|count }})</li>
{% endfor %}
    </ul>
  </nav>
</section>
{% endblock content %}
