<!DOCTYPE html>
<html lang="{{ article.lang if article and article.lang else DEFAULT_LANG }}">
<head>
  <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="Ceyusa's blog / El blog de Ceyusa" />
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/mini-ceyusa.css" />
  <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />
{% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% if article %}
  {% for tag in article.ogtags %}
  <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
  {% endfor %}
{% endif %}
{% if page %}
  {% for tag in page.ogtags %}
  <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
  {% endfor %}
{% endif %}
{% include "analytics.html" ignore missing %}
</head>
<body>
  <header id="banner" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <a rel="bookmark" class="logo" href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
    <a rel="bookmark" class="button" href="{{ SITEURL }}/archives.html">Archivo</a>
    <a rel="bookmark" class="button" href="{{ SITEURL }}/tags.html">Etiquetas</a>
    <a rel="bookmark" class="button" href="{{ SITEURL }}/pages.html">Textos</a>
  </header>
{% include "sidebar.html" ignore missing %}
{% block content %}{% endblock %}
  <footer class="license">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/cc.png" alt="CC by 3.0"/>
    <p>Except where otherwise noted, content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a></p>
  </footer>
</body>
</html>
