<!DOCTYPE html>
<html lang="{{ article.lang if article and article.lang else DEFAULT_LANG }}">
<head>
  <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="Ceyusa's blog / El blog de Ceyusa" />
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" media="handheld" href="{{ SITEURL }}/theme/css/mobile.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ SITEURL }}/theme/css/main.css" />
  <link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico" />
{% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% include "analytics.html" ignore missing %}
</head>
<body>
  <header id="banner">
    <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }}</a></h1>
    <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" class="menu">
      <ul>
	<li><a rel="bookmark" href="{{ SITEURL }}/archives.html">Archivo</a>
	<li><a rel="bookmark" href="{{ SITEURL }}/tags.html">Etiquetas</a>
	<li><a rel="bookmark" href="{{ SITEURL }}/pages.html">Textos</a>
      </ul>
    </nav>
  </header>
{% include "sidebar.html" ignore missing %}
{% block content %}{% endblock %}
  <footer class="license">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/cc.png" alt="CC by 3.0"/>
    <p>Except where otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>
  </footer>
</body>
</html>
