{% extends "base.html" %}
{% block content %}
<section>
  <header>
    <h2>{% block header %}Índice{% endblock header %}</h2>
  </header>
{% if articles %}
{% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
  <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <h3>{{ year }}</h3>
    <ol>
{% for article in date_year %}
      <li><a href="{{ SITEURL }}/{{ article.url|urlencode }}" rel="bookmark" title="Permalink to {{ article.title|e|striptags }}">{{ article.title }}</a> <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time></li>
{% endfor %}
    </ol>
{% endfor %}
  </nav>
{% else %}
  <p>No se encontraron elementos a mostrar.</p>
{% endif %}
</section>
{% endblock content %}
