{% extends "base.html" %}
{% block content %}
{% if articles %}
  {% for article in articles %}
    {% if loop.first %}
<form id="idx" action="/cgi-bin/search.py">
  <input type="text" name="q" placeholder="búsqueda..." required /> <input type="submit" value="Buscar" />
</form>
{%- set INDEX = True %}
{% include "base_article.html"%}
      {% if loop.length > 1 %}
<nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" id="index">
      {% endif %}
    {# other items #}
    {% else %}
      {% if loop.index <= 10 %}
  <header>
    <h3><a rel="bookmark" href="{{ SITEURL }}/{{ article.url|urlencode }}">{{ article.title }}</a></h3>
  </header>
  <footer>
    {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>{% endif %} 
    {% if article.author %}<address itemscope itemtype="http://schema.org/Person"><a href="{{ SITEURL }}/{{ article.author.url|urlencode }}">{{ article.author }}</a></address>{% endif %}
  </footer>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if articles|length > 10 %}
   <h3><a rel="bookmark" href="{{ SITEURL }}/archives.html">Más...</a></h3>
</nav>
  {% endif %}
{% else %}
<p>No se encontraron elementos a mostrar.</p>
{% endif %}
{% endblock content %}
