<side>
  <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement" id="sidebar">
    {% if FEED_ALL_ATOM or FEED_ALL_RSS %}
    <ul>
      {% if FEED_ALL_ATOM %}
      <li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/feed-32px.png" alt="atom feed"/></a>
	{% endif %}
	{% if FEED_ALL_RSS %}
      <li><a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/feed-32px.png" alt="rss feed"/></a>
	{% endif %}
    </ul>
    {% endif %}
    {% if SOCIAL %}
    <ul>
      {% for name, link in SOCIAL %}
      <li><a href="{{ link }}"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/{{ name }}.png" alt="{{ name }}"/></a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if LINKS %}
    <ul>
      {% for name, link in LINKS %}
      <li><a href="{{ link }}"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/icons/{{ name }}.png" alt="{{ name }}"/></a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </nav>
</side>
