{% extends "base.html" %}
{% block title %}{{ super() }} : Etiquetas{% endblock %}
{% block content %}
<section>
  <header>
    <h2>Etiquetas</h2>
  </header>
  <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <ul class="tag-cloud">
{% for tag in tag_cloud %}
      <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url|urlencode }}" rel="bookmark" title="Permalink to {{ tag.0|e|striptags }}">{{ tag.0|e }}</a></li>
{% endfor %}
    </ul>
  </nav>
</section>
{% endblock content %}
