{% extends "base.html" %}
{% block title %}{{ super() }} : Etiquetas{% endblock %}
{% block content %}
<section>
  <header>
    <h2>Directorio de Etiquetas</h2>
  </header>
  <nav itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <ul>
{% for tag, articles in tags|sort %}
      <li><a href="{{ SITEURL }}/{{ tag.url }}" rel="bookmark" title="Permalink to {{ tag|striptags }}">{{ tag | escape }}</a> ({{ articles|count }})</li>
{% endfor %}
    </ul>
  </nav>
</section>
{% endblock content %}
